<%- include("partials/header.ejs") %>
<section id="navbar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent mx-3" aria-label="Fifth navbar example">
    <div class="container-fluid my-1 d-flex justify-content-start">
      <a href="/"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30" height="30" viewBox="0 0 256 256" xml:space="preserve">
        <defs>
        </defs>
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
          <path d="M 46.58 90 c -12.442 0 -24.139 -4.846 -32.937 -13.644 S 0 55.861 0 43.419 c 0 -12.442 4.845 -24.14 13.644 -32.938 c 4.464 -4.465 9.678 -7.918 15.495 -10.264 c 1.217 -0.491 2.612 -0.133 3.443 0.882 c 0.831 1.015 0.906 2.453 0.185 3.549 c -9.838 14.953 -7.777 35.007 4.899 47.684 h 0 c 12.677 12.678 32.732 14.736 47.684 4.9 c 1.097 -0.722 2.534 -0.646 3.55 0.185 s 1.373 2.226 0.882 3.443 c -2.345 5.815 -5.798 11.029 -10.265 15.495 C 70.72 85.154 59.022 90 46.58 90 z M 23.294 10.174 c -1.918 1.347 -3.724 2.866 -5.408 4.551 C 10.221 22.39 6 32.58 6 43.419 s 4.221 21.03 11.886 28.695 C 25.551 79.779 35.741 84 46.58 84 c 10.84 0 21.03 -4.222 28.695 -11.886 c 1.685 -1.685 3.204 -3.491 4.551 -5.408 c -15.799 5.837 -34.101 2.171 -46.402 -10.131 h 0 c 0 0 0 0 0 0 C 21.123 44.274 17.456 25.973 23.294 10.174 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        </g>
        </svg>
      </a>

      <div class="navbar-collapse collapsed-flex justify-content-center" id="navbarsExample05">
        <ul class="navbar-nav col-12 col-lg-auto my-1 justify-content-center my-md-0 text-large">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Market</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Why Us</a>
          </li>
          
        </ul>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>


</section>

<section id="hero">
  <div class="px-4 py-5 my-5 text-center align-self-center">
    <h1 class="display-4 fw-bold text-body-emphasis">MoonReach</h1>
    <h2 class="display-6 text-body-emphasis">Track Your Crypto to the Moon</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Bitcoin</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ethereum</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Solana</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Tether</button>
      </div>
    </div>
  </div>
</section>

<section id="market">
<div class="container">
  <h2>Market Update</h2>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">24h Change</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>text</td>
          <td>random</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>

<section id="search">

</section>

<section id="whyus">

</section>

<%- include("partials/footer.ejs") %>