@use "global" as *;

body {
  background-color: $bg-black;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.market-section {
  background-color: $bg-black;
  padding: 5rem 0;
}

.market-content {
  display: flex;
  flex-direction: column;

  h2 {
    color: $color-white;
    font-size: 4.5rem;
    margin-bottom: 3rem;

    @media (max-width: 430px) {
      font-size: 4rem;
    }
  }

  &__coin-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: auto;

    &__top {
      display: grid;
      grid-template-columns: 1fr 2fr 1.5fr 2fr 2fr; // Adjusted for proper column width ratios
      color: $color-white;
      font-size: $h4-size;
      padding: 1.5rem;
      text-align: right;
      font-weight: 500;
      background: $color-blue-purp;
      border-radius: 8px 8px 0 0;
      gap: 2rem;

      @media (max-width: 800px) {
        display: flex;
        justify-content: space-around;
      }

      p {
        @media (max-width: 800px) {
          width: 18rem;
          text-align: center;
        }
      }

      @media (max-width: 700px) {
        width: fit-content;
      }

      p:first-child {
        text-align: left;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__pagination {
      display: flex;
      gap: 1.3rem;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;

      button {
        font-size: $text-normal;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        cursor: pointer;
        background-color: $color-white;
      }
    }
  }

  .activePagi {
    background: $color-blue-purp;
    color: $color-white;
  }

  .coin-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 2fr 2fr; // Adjusted for proper column width ratios
    color: $color-white;
    font-size: $h4-size;
    padding: 2rem 1.5rem;  // Adjusted padding for better fit
    text-align: right;
    font-weight: 500;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $color-white;
    align-items: center;
    gap: 2rem;
    background-color: $bg-black;
    user-select: none;

    &:hover {
      background-color: #200840;
      cursor: pointer;
    }

    @media (max-width: 700px) {
      width: fit-content;
    }

    p:last-child {
      @media (max-width: 800px) {
        width: 23rem;
      }
    }

    p {
      @media (max-width: 800px) {
        width: 15rem;
      }
    }

    span {
      text-align: left;
      align-items: center;
      display: flex;
      gap: 1rem;  // Adjusted gap for better alignment
      max-width: 10rem;  // Added to limit width for small screens

      @media (max-width: 800px) {
        width: 19rem;
      }

      img {
        width: 4rem;  // Adjusted size for better fit
        height: 4rem; // Adjusted size for better fit
      }
    }
  }
}

.hero-section {
  background-image: linear-gradient(#130749, #13111a);
}

.hero-content {
  text-align: center;
  color: #fff;

  h1 {
    font-size: 4.5rem;
    text-transform: uppercase;

    @media (max-width: 750px) {
      font-size: 4rem;
    }

    span {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(90deg, #00f, #f0f);
    }
  }
}

.coin-slider .slider-coin {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;

  img {
    // width: 60px;
    height: auto;
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: 600;

    span {
      &.red-text {
        color: red;
      }

      &.green-text {
        color: #0f0;
      }
    }
  }

  &__price {
    font-weight: 600;
    margin-top: 0.5rem;
  }
}

#moon {
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

button {
  font-size: $text-normal;
  font-weight: 600;
  padding: 1rem 2rem;
  background: $color-blue-purp;
  color: $color-white;
  border-radius: 5rem;
  transition: all 0.2s;
}