body {
  background-color: #13111a;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.market-section {
  background-color: #13111a;
  padding: 5rem 0;
}

.market-content {
  display: flex;
  flex-direction: column;
}
.market-content h2 {
  color: #fff;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 430px) {
  .market-content h2 {
    font-size: 4rem;
  }
}
.market-content__coin-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: auto;
}
.market-content__coin-list__top {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 2fr 2fr;
  color: #fff;
  font-size: 1.25rem;
  padding: 1.5rem;
  text-align: right;
  font-weight: 500;
  background: linear-gradient(to right, #6a00ff, #ff0066);
  border-radius: 8px 8px 0 0;
  gap: 2rem;
}
@media (max-width: 800px) {
  .market-content__coin-list__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .market-content__coin-list__top p {
    width: 18rem;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .market-content__coin-list__top {
    width: fit-content;
  }
}
.market-content__coin-list__top p:first-child {
  text-align: left;
}
.market-content__coin-list__row {
  display: flex;
  flex-direction: column;
}
.market-content__coin-list__pagination {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.market-content__coin-list__pagination button {
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.market-content .activePagi {
  background: linear-gradient(to right, #6a00ff, #ff0066);
  color: #fff;
}
.market-content .coin-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 2fr 2fr;
  color: #fff;
  font-size: 1.25rem;
  padding: 2rem 1.5rem;
  text-align: right;
  font-weight: 500;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #fff;
  align-items: center;
  gap: 2rem;
  background-color: #13111a;
  user-select: none;
}
.market-content .coin-row:hover {
  background-color: #200840;
  cursor: pointer;
}
@media (max-width: 700px) {
  .market-content .coin-row {
    width: fit-content;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p:last-child {
    width: 23rem;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p {
    width: 15rem;
  }
}
.market-content .coin-row span {
  text-align: left;
  align-items: center;
  display: flex;
  gap: 1rem;
  max-width: 10rem;
}
@media (max-width: 800px) {
  .market-content .coin-row span {
    width: 19rem;
  }
}
.market-content .coin-row span img {
  width: 4rem;
  height: 4rem;
}

.hero-section {
  background-image: linear-gradient(#130749, #13111a);
}

.hero-content {
  text-align: center;
  color: #fff;
}
.hero-content h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}
@media (max-width: 750px) {
  .hero-content h1 {
    font-size: 4rem;
  }
}
.hero-content h1 span {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #00f, #f0f);
}

.coin-slider .slider-coin {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.coin-slider .slider-coin img {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}
.coin-slider .slider-coin__name {
  font-weight: 600;
}
.coin-slider .slider-coin__name span.red-text {
  color: red;
}
.coin-slider .slider-coin__name span.green-text {
  color: #0f0;
}
.coin-slider .slider-coin__price {
  font-weight: 600;
  margin-top: 0.5rem;
}

#moon {
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*# sourceMappingURL=styles.css.map */
